/* You can add global styles to this file, and also import other style files */

.tooltip-area {
  text-align: center;
  font-size: 0.75rem;
  color: black;
  width: 100px;
  background-color: white;
  padding: 0.5rem 0.25rem;
  border-radius: 5px;
  pointer-events: none;
  transform: translateX(-50%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  z-index: 99;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.tooltip-area > div {
  width: 10px;
  height: 10px;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  background-color: #faf9ff;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
